<div class="black-container">
  <main class="container">
    <div class="jumbotron">
      <!-- name and my photo-->
      <h1 class="display-4" id="about-name">Asylhan Ukenov</h1>
      <br>
      <div clas="myimg-container">
        <img src="/Assets/images/myphoto.jpeg" id="my-img" alt="photo of me">
      </div>
      <!-- post and button to resume -->
      <p id="my-post">I am a 3rd-semester software engineering technology student at Centennial College. 
          Before college, I was a medical student at Charles University in Prague but decided 
          that not I am interested in pursuing a career in that field in the future. Programming 
          was my side hobby after school, but only around 2 years ago I decided to seriously 
          focus on it. The first practical coding experience I obtained from a friend of mine. 
          Who was doing programming lessons for his friends who were interested in it or wanted 
          to learn new things. Right now, I am interested in artificial intelligence and neural networking, 
          probably those are things I want to be focused on in my future years. 
          Apart from that I love sports( MMA, snowboarding, football, boxing, hockey) and spend 
          time with my friends. Thank you for reading!</p>
        <div class="btn-center">
            <button type="button" onclick="location.href='/Assets/files/resume.pdf';" class="btn btn-info btn-lg">Resume</button>
        </div>
        
    </div>
</main>
</div>
