<div class="black-container">
    <main class="container">
      <div class="jumbotron">
        <div class="contact-information">
          <h3>My Contact Infomation</h3>
          <p>E-mail: ukenov.asylhan@gmail.com</p>
          <p>Phone: +6478069317</p>
          <p>WhatsApp number:  +77019970479</p>
        </div>
      
      <form class="contact-form">
          <h2>Contact me</h2>
          <div class="form-group">
              <label for="FirstName">First name</label>
              <input type="text" class="form-control" id="firstName" placeholder="First name">
          </div>
          <div class="form-group">
              <label for="LastName">Last name</label>
              <input type="text" class="form-control" id="lastName" placeholder="Last name">
          </div>
          <div class="form-group">
              <label for="PhoneNumber">Phone number</label>
              <input type="tel" class="form-control" id="phoneNumber" placeholder="123-3456-7890">
          </div>
          <div class="form-group">
            <label for="Email">Email address</label>
            <input type="email" class="form-control" id="emailAddress" placeholder="email@example.com">
          </div>
          <div class="form-group">
            <label for="Message">Message</label>
            <textarea class="form-control" id="shortMessage" rows="5"></textarea>
          </div>
          <button type="button" id="submitBtn" class="btn btn-primary">Submit</button>
        </form>
      
        <script src="/Scripts/app.js"></script>
      </div>
    </div>
</div>