<!-- Home page content -->
<!-- Photo by bongkarn thanyakij from Pexels -->
<div class="background-image"></div>
<div class="background-text">
    <!-- Home page h1 and mission statement -->
    <h1>Hi! My name is Asylhan Ukenov</h1>
    <h1>I am a software engineer</h1>
    <p>My goal is to become an excellent programmer.</p>
    <p>Being a curious person I always find it interesting to learn new things</p>
    <p>and understand things that I don't. More importantly,</p>
    <p>I enjoy what I am doing and I want to keep doing it in the future.</p>
    <button type="button" id="aboutBtn" onclick="location.href='/about';" class="btn btn-info btn-lg">About Me</button>
</div>
 