<div class="black-container">
  <main class="container">
    <div class="jumbotron">
    <!-- First gallery for DIT project -->
      <div class="project-container">
        <h1>DIT</h1>
        <div id="carouselFirstCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselFirstCaptions" data-slide-to="0" class="active"></li>
              <li data-target="#carouselFirstCaptions" data-slide-to="1"></li>
              <li data-target="#carouselFirstCaptions" data-slide-to="2"></li>
            </ol>
        <div class="carousel-inner">
        <div class="carousel-item active">
                <img src="/Assets/images/DIT1.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Radio Menu</h5>
                  <p>Default phrases and words to pick</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="/Assets/images/DIT2.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Gaze Control</h5>
                  <p>After 2 seconds a button clicked</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="/Assets/images/DIT3.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Output field</h5>
                  <p>After selecting pharse or word it will be displayed in output field</p>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselFirstCaptions" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselFirstCaptions" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        <br>
        <!-- Project Description -->
        <p>Wearable Speech project for Nreal Smart Glasses for people with movement disabilities and muteness, 
            who only can use some head motions and eye-tracking as an input. The main project goal is help to 
            people communicate and interact with other people. I am one of the developers 
            on that project and the project is still going, and not finished. The software is made in 
            Unity using Nreal SDK. Some features: Gaze Control as an input, text prediction for typing aid.</p>
    </div>
    
    <!-- Second gallery for mini games project -->
    <div class="project-container">
        <h1>Mini Games</h1>
        <div id="carouselSecondCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselSecondCaptions" data-slide-to="0" class="active"></li>
              <li data-target="#carouselSecondCaptions" data-slide-to="1"></li>
              <li data-target="#carouselSecondCaptions" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/Assets/images/Game1.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Login</h5>
                  <p>Create user or login to track of user progress</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="/Assets/images/Game2.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Calendar</h5>
                  <p>Each day there are different random type of game to play</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="/Assets/images/Game3.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Matching Game</h5>
                  <p>Game that require to match same numbers</p>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselSecondCaptions" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselSecondCaptions" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <br>
          <!-- Project Description -->
          <p>Mini Games project, the project with mini-games mainly focused on memorizing. 
              The project was made for a private school for kids in elementary school. 
              It was on the of the project my friends were working on, that was simple enough 
              for me to practice my C# knowledge. I don't have the final version, as I was 
              not able to continue to work on that project.</p>
    </div>
    
    <!-- Third gallery for translator project -->
    <div class="project-container">
        <h1>Translator</h1>
        <div id="carouselThirdCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselThirdCaptions" data-slide-to="0" class="active"></li>
              <li data-target="#carouselThirdCaptions" data-slide-to="1"></li>
              <li data-target="#carouselThirdCaptions" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/Assets/images/Translator1.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Russian Translation</h5>
                  <p>Translation from russian to english</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="/Assets/images/Translator2.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>English Translation</h5>
                  <p>Translation from english to russian</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="/Assets/images/Translator3.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Correction Suggestion</h5>
                  <p>Google like "Did you mean" suggestion</p>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselThirdCaptions" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselThirdCaptions" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <br>
          <!-- Project Description -->
          <p>The translator project translates from English to Russian and the opposite as well. 
              It is my personal project and the first project that I ever created. It uses Hunspell 
              library to autocorrect misspelling. Works in console, windows forms, and web. 
              I was using Yandex free API for translation, currently, after 31.07.2020 Yandex translator 
              API's are not free.</p>
    </div>
    </div>
  </main>
</div>




