<div class="black-container">
    <main class="container">
        <div class="jumbotron">
            <div class="services-container">
                <h2><i class="fas fa-code"></i>&nbsp General programming</h2>
                <h2><i class="fas fa-mobile-alt"></i>&nbsp Mobile development</h2>
                <h2><i class="fas fa-desktop"></i>&nbsp Web development</h2>
                <h2><i class="fas fa-database"></i>&nbsp Database development</h2>
                <h2><i class="fas fa-gamepad"></i>&nbsp Unity game development</h2>
                <h2><i>C#</i>&nbsp C Sharp programming</h2>
                <h2><i class="fab fa-python"></i>&nbsp Python programming</h2>
            </div>
        </div>
    </main>
</div>